{% extends "base.html" %}

{% block content %}
  <h2>{{client.name}} Contacts</h2>
  </br>
  <div>
    <a href="/clients/{{client.id}}/new">Add a contact for {{client.name}}</a>
  </div>
  </br>
  <div class="container">
    <div class="row">
    {% for contact in client.contacts %}
      <div class="col-xs-12 col-lg-4 top-buffer">
        <p><b>Forename: </b>{{contact.forename}}</p>
        <p><b>Surname: </b>{{contact.surname}}</p>
        <p><b>Role: </b>{{contact.role}}</p>
        <p><b>Email: </b><a href="mailto:{{contact.email}}">{{contact.email}}</a></p>
        <p><b>Mobile: </b><a href="tel:{{contact.mobilenumber}}">{{contact.mobilenumber}}</a></p>
        <p><b>Landline: </b><a href="tel:{{contact.landlinenumber}}">{{contact.landlinenumber}}</a></p>
        <p><b>Address: </b><a href="https://maps.google.com?q={{contact.address}}">{{contact.address|replace("\n", "<br>")|safe}}</a></p>
      </div>
    {% endfor %}
    </div>
  </div>
{% endblock %}
